*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgba(121, 6, 48, 0.944);
    height: 300vh;
    width: 1280px;
}

.container{
    Padding: 50px;
    margin: 30px;
    background-color: white;
    height:100%;
    width: 100%;
    margin: 30px;
    background-size: cover;
    background-repeat: no-repeat;

    
    }

.Firstheading {
font-size: 64px;
Color:  rgba(121, 6, 48, 0.944);
font-weight: 900;
margin-top: 20px;
text-align: center;
}

.navbar{
    display: flex;
    gap: 100px;
}

.navcontent{
    display: flex;
    gap: 40px;
    padding-left: 120px;
}

.companylogo{
    width:200px;
    height:140px;
    }

.home, .aboutus, .contactus, .services, .login{
    text-decoration: none;
    font-size: 18px;
    color:rgb(83, 6, 6);
    font-weight: bold;

}
.home:hover, .aboutus:hover, .contactus:hover, .services:hover, .login:hover{
    background-color: darkgoldenrod;
    border-radius: 6px;
}


.secondheading{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
color: goldenrod;
text-align: center;

}

.bigpencilimage{
width:680px;
height: 500px;
background-image: url("./whiteimage.png");
border: 4px solid rgb(83, 6, 6);
margin-top: 60px;
}



.paragraphsandlist{
    margin-top: 54px;
}

.firstparagraph{
font-size: 18px;
font-family: lucida;
max-width: 400px;
font-weight: 500;
text-align: center;
}

.thirdheading{
font-size: 23px;
font-family: lucida;
font-weight: 900;
color: goldenrod; 
margin-top: 20px;
padding-left: 120px ;
}

.list{
    margin-top: 15px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
 
}

.firstlist{
    font-size: 18px;
    font-family: lucida;
    max-width: 400px;
    font-weight: 500;
}

.firstbold, .secondbold, .thirdbold{
    font-weight: bold;
    color: rgba(121, 6, 48, 0.944);

}
.plist1, .plist2, .plist3{
    margin-bottom: 8px;
}

.readmore{
background-color: goldenrod;
font-family: 'Gill Sans';
border-radius: 20px;
display: inline-block;
width: 350px;
height: 60px;
color: rgb(83, 6, 6);
font-weight: bold;
font-size: 25px;
}

.readmorebutton{
    margin-top: 60px;
    text-align: center;
}

.middleimage{
    width: 100%;
    height: 450px;
    margin-top: 60px;
    border: 4px solid rgb(83, 6, 6);
    filter:brightness(30%);
}
