body{
    background-color: rgb(77, 7, 77);
}

h1 {
font-size: 70px;
Color: white ;
font-weight: 900;
}

.mainpage{
background-color: white;
width:1040px;
height:870px;
margin-left: 40px;
margin-right: 40px;
display: flex;
border:3px solid black;
padding: 30px;
position: relative;

}

.companylogo{
width:200px;
height:140px;
position: absolute;
top:230px;
right:520px;
   
}