*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgba(121, 6, 48, 0.944);
    height: 300vh;
    width: 1280px;
}

.container{
    Padding: 50px;
    margin: 30px;
    background-color: black;
    height:100%;
    width: 100%;
    margin: 30px;
    }

.Firstheading {
font-size: 64px;
Color:  rgba(121, 6, 48, 0.944);
font-weight: 900;
margin-top: 20px;
text-align: center;
}

.navbar{
    display: flex;
    gap: 100px;
}

.navcontent{
    display: flex;
    gap: 40px;
    padding-left: 120px;
}

.companylogo{
    width:200px;
    height:140px;
    }

.home, .aboutus, .contactus, .services, .login{
    text-decoration: none;
    font-size: 18px;
    color:rgb(83, 6, 6);
    font-weight: bold;

}
.home:hover, .aboutus:hover, .contactus:hover, .services:hover, .login:hover{
    background-color: darkgoldenrod;
    border-radius: 6px;
}


.secondheading{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
color:darkgoldenrod;
text-align: center;

}

.bigpencilimage{
width:680px;
height: 500px;
background-image: url("./whiteimage.png");
border: 4px solid rgb(83, 6, 6);
margin-top: 60px;
}

.bigpencilimage{
    position: relative;
}

.whitebackground{ 
    width:150px;
    height:180px;
    position: absolute;
    top: 560px;
    right: 250px;
}

.companylogo2{
    width:100px;
    height:70px;
    position:absolute;
    top: 625px;
    right: 280px;
}


.paragraphsandlist{
    margin-top: 54px;
}

.firstparagraph{
font-size: 18px;
font-family: lucida;
max-width: 400px;
font-weight: 500;
text-align: center;
}

.thirdheading{
font-size: 23px;
font-family: lucida;
font-weight: 900;
color: darkgoldenrod;
margin-top: 20px;
padding-left: 120px ;
}

.list{
    margin-top: 15px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
 
}

.firstlist{
    font-size: 18px;
    font-family: lucida;
    max-width: 400px;
    font-weight: 500;


}

.firstbold, .secondbold, .thirdbold{
    font-weight: bold;
    color: rgba(121, 6, 48, 0.944);

}
.plist1, .plist2, .plist3{
    margin-bottom: 8px;
}



.firstbutton{
width:220px;
background-color: rgb(82, 82, 7);
color: white;
font-family: lucida;
border-radius: 10px;


}

